#home {
	background-image: url("cover.jpg");
	text-align: center;
	}

  h1 { color: white;
  	font-family: Montserrat, 400;

	}

#footer {
	position:absolute;
	bottom: 0;
	width: 100%;
	position: fixed;
}

#lulu {
	background-image: url("luluBig.jpg");
	text-align: center;
}

#pendleton {
	background-image: url("pdnCover.jpg");
	text-align: center;
            
            width: 100%;
            top: 0;
            bottom: 0;
       
}


#imgCollapsible {
	display: block;
	margin: auto;
	height: 130px;
}

 .scrollable {
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
        }