img {
	width: 1350px;
	position: relative;
	top: 0;
	right: 3px;
	
	
	
}

.header {
	height: 50px;
	width: 105%;
	background-color: #1F1C1C;
	background:rgba(0,0,0,0.5);
	position: absolute;
	right: 5px;
	top: 0;
}
