#header {
height: 50px;
background-color: #88bdf3;


}

div {
	
	overflow: hidden;
	
}

img {
	width: 40px;
	height: 40px;
	display: inline-block;
	margin-top: 5px;
	margin-left: 10px;

}
#headerList {

	display: inline-block;
	margin-right: 10px;
	
	font-family: Oswald;
	font-size: 20px;
	color: red;
	text-decoration: none;
	float: right;
	clear:both;
	
	
	
	
}
ul li a {
	font-family: Oswald;
	font-size: 20px;
	color: red;
	text-decoration: none;
	float: right;
	clear:both;
	

}



p {

	background-color: #b7d1c4;
	font-style: bold;

	font-size: 30px;
}

