.circular {
	margin-left: 60px;
	margin-top: 30px;
	}

	.circular img {

		height:180px;
		border-radius: 200px;

	}

body {

	background-color: #2C82C9;
}

h1 {

	font-family: Dosis;
	color: white;
	font-size: 20px;
	text-align: center;


}

#navBar li {
display: inline;
font-family: Helvetica;
font-size:12px;
color: white;
}

#navBar ul li {
	display: inline;
	padding: 10px 15px;
	float: left;
	}
#navBar div {
	width: 120px;
}
	
ul li:nth-child(1) {
    background-color: #2C82C9;

} 

ul li:nth-child(2) {
    background-color: #2CC990;

} 

ul li:nth-child(3) {
    background-color: #EEE657;

} 

ul li:nth-child(4) {
    background-color: #FCB941;

	} 





}

@-webkit-keyframes wave {
    0% { -webkit-transform: rotate(40deg); }
    100% { -webkit-transform: rotate(0deg); }
}

@-webkit-keyframes wave2 {
    0% { -webkit-transform: rotate(-40deg); }
    100% { -webkit-transform: rotate(0deg); }
}
.hi {

	margin-left: 130px;
	display: absolute;

}

.hi img {
height: 50px;
    -webkit-animation-name: wave;
    -webkit-animation-name: wave2;
    -webkit-animation-duration: 4s;
}

