.circular {
    margin-left: 60px;
    margin-top: 30px;
}
.circular img {
    height:180px;
    border-radius: 200px;
}
body {
    margin:0;
}
#mePage {
    background-color: #2C82C9;
}
#uzb {
    background-color: #2CC990;
}

#schoolPage {
    background-color: #FCB941;
}

#interestsPage {
    background-color: #FC6042;
}

h1 {
    font-family: Dosis;
    color: white;
    font-size: 20px;
    text-align: center;
}
#navBar {
    position: absolute;
    bottom: 0;
}


#navBar div {
    font-size: 12px;
    text-decoration: none;
    color: white;
    bottom: 0;
    width:80px;
    height:30px;
    padding-bottom: 15px;
    padding-top: 10px;
    position: relative;
    float: left;
    text-align: center;
    font-family: Dosis;
}




#me {
    background-color: #2C82C9;
    right:0px;
}

#navBar div img {
    display: block;
    margin: 0px auto;
    height:25px;
    padding-bottom: 5px;
}
#home {
    background-color: #2CC990;
}
#school {
    background-color: #FCB941;
}
#interests {
    background-color: #FC6042;
    left: 0px;
}

#basic_map {
    margin:0px;
}


video {
display: block; 
margin: 0px auto;
margin-bottom: 10px;

}

#portfolioButton {
  background-color:white;
  border:none;
  
}

#portfolioImage img {
height: 270px;
display: block;
margin: 0px auto;
display: none;
padding-top: 10px;

}
#nextBut {
    display:block;
    margin: 0px auto;
    margin-top: 10px;
    display: none;
}