ul
{
list-style-type: none;

}

ul li {
	margin: 100px;
	font-size: 30px;

}

ul {
	top: 80%;
}

div {
	 width: 1300px;
	 text-align: center;
	 margin-left: auto;
	 margin-right: auto;
	 position: relative;
	 top: 15%;

}

#pageThree {
	top:15%;
}

body {
	background-color: black;
}

a {
  text-decoration: none; /* no underline */
  color: #afafaf;
  font-family: Lato;

}

a:hover { 
	text-decoration: underline;
	}

	#nakedChest {
		height:250px;
		display: block;
		position: relative;
		margin: auto;
	}
		#ritz {
		height:250px;
		display: block;
		position: relative;
		margin: auto;
	}