.title {
	font-family: Montserrat, 100;
	color: #898989;
}

h1 {
font-size: 14px;
}

h2 {
	font-size: 18px;
}

h3 {
	font-size: 12px;
}

#directions {
	position: relative;
	top: 220px;
	padding-right: 7%;
}

#navigateTo {
	position: relative;
	top: 220px;
}


#map_canvas {
	top: 20px;
	width: 100%;
	height:240px;
	padding-left: 0;
	padding-right: 0;
}

#header {
	height:30px;
	line-height:0.8em;
	text-align: center;
	position: absolute;
	top: 0;
	width: 100%;
	background-color: #ffffff;
	border-bottom: solid #898989;


}

#ui-content {
	position: relative;
}

.button {
	position: absolute;
	width: 100%;
	bottom: 0px;
	padding: 0;
}


#heartDiv {
	background-color: #ffffff;
	height: 30px;
	position: absolute;
	top: 0;
	right:0;
	width: 60px;

}

#heartNav {
	background-color: #ffffff;
	height: 30px;
	position: absolute;
	top: 200px;
	right:0;
	width: 60px;
}

#heartIcon {
	height:20px;
	position: relative;
	right: -15px;
	top:4px;
}

#backArrowDiv {
	background-color: #ffffff;
	height: 30px;
	position: absolute;
	top: 0;
	left:0;
	width: 60px;

}
#arrowIcon {
	height:15px;
	position: relative;
	left: -18px;
	top:8px;

}

#homePage {
	text-align: center;
	background-color: #ffffff;
}



#homePage div h2 {
	position: relative;
	top:15px;
}



#placePrefer {
	position: relative;
	margin: auto;
	width: 290px;
}

#placePrefer div {
	float: left;
	margin-right: 2px;
	margin-left: 2px;
	margin-bottom: 4px;
	position: relative;
	text-align: center;
	width: 90px;
	height: 90px;
	right: -8px;
	border-radius: 200px;
	left:3px;
	
}

#noisePrefer {
	position: relative;
	margin: auto;
	width: 290px;
}



.noiseOption {
	float: left;
	margin-right: 2px;
	margin-left: 2px;
	margin-bottom: 4px;
	position: relative;
	text-align: center;
	width: 90px;
	height: 90px;
	right: -8px;
	border-radius: 200px;
	left:3px;
}


.uiIcon {
	height:45px;
	position: relative;
	top:13px;
}

#placePrefer h3 {
	position: relative;
	bottom:3px;
	
}

.selected {
	background-color: #E0E0E0;
}

#filters {
	position: absolute;
	top:30px;
	background-color: #898989;
	width:100%;
	text-align: center;
}
#filters h2 {
	color: #ffffff;
}

#navigate {
	position: absolute;
	top:30px;
	background-color: #898989;
	width:100%;
	text-align: center;
}
#navigate h2 {
	color: #ffffff;
}



#results {
	position: absolute;
	top: 90px;
	width: 100%;
}

.container {
	padding-bottom: 5px;
}

#results ul
{
list-style-type: none;
}

.resultsImage {
	float: left;
	height: 140px;
	width: 140px;
	}

.resultsText {
	float: left;
	text-align: left;
	height: 140px;
	width: 140px;
	position: relative;
	top: -15px;
	right: -15px;
	
}

.placePhoto {
max-width:100%;
max-height:100%;

}

.arrowRight {
	background-color: #898989;
	float:right;
	width: 40px;
	height: 140px;
	text-align: center;

}

.arrowRightImg {
width: 10px;
position: relative;
left:-5px;
top:55px;
padding-top: 5px;
}